.minHeight {
  height: 256px !important;
}

.placeholderAnchor {
  position: relative;
}

.placeholder {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  margin-top: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spaceUnder {
  margin-bottom: 2em;
}
