.legacy {
  background-color: green;
}

.unwrap {
  padding: 24px;
}

.unwrap > button {
  margin-top: 2em;
}

.listHeader {
  padding: 24px;
}

.fullHeight {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.stretch {
  flex: auto;
  display: flex;
  flex-flow: column;
}

.progress {
  flex: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: calc(24px * -3);
}

.listBody {

}

.safe {
  color: green !important;
}

.unsafe {
  color: orange !important;
}

.cardSummary p:last-of-type {
  margin-left: 24px;
}

.cardContent {
  display: flex;
  flex-direction: column;
  padding-left: calc(24px * 3) !important;
}

.cardContent p {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.cardContent p > span:last-of-type {
  margin-left: auto;
}

.newCupAction {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}
.newCupAction > button {
  margin-left: 2em;
}
